@{
    ViewBag.Title = "TimeSheets For Outlook";
}
@section scripts
{
    @Scripts.Render("~/bundles/officeJS")
    <script src="~/Scripts/TechedDemo.js"></script>
}
@section styles
{
    @Styles.Render("~/Content/officeStyles")
}

<div id="SectionContent">
    <span id="fetchingLabel">Fetching TimeSheets...</span>

    <table style="border: 0; display: none" id="resultsTable">
        <tbody data-bind="foreach: results">
            <tr>
                <td data-bind="dateString: date, datePattern: 'dd mm yyyy'" style="vertical-align: middle" />
                <td style="vertical-align: middle">
                    <select data-bind="value: hours, options: $root.hourOptions" />
                    hours
                </td>
                <td data-bind="text: engagement" style="vertical-align: middle" />
                <td style="vertical-align: middle">
                    <button data-bind="click: $root.submit" id="submitButton">Submit</button>
                </td>
                <td data-bind="visible: isSubmitting" style="vertical-align: middle">
                    Submitting...
                </td>
            </tr>
        </tbody>
    </table>
</div>
